.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0, 03;
  margin-right: 93px;
}
.header__logo--brand-color {
  color: var(--brand-color);
}

.footer__logo {
  padding-top: 50px;
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer__logo--brand {
  color: var(--brand-color);
}
.footer__logo--white {
  color: var(--white);
}